/* font */
@font-face {
	font-family: "Calibri Light";
	src: url(assets/font/calibril.ttf);
}

@font-face {
	font-family: "Calibri Regular";
	src: url(assets/font/calibri.ttf);
}

@font-face {
	font-family: "Impact Regular";
	src: url(assets/font/impact.ttf);
}

/* global stylesheet */
body {
	margin: 0px auto;
	min-width: 1280px;
	text-align: center;
}

input:active {
	border:1px solid red;
	border-color:#58ACFA;
}

input:focus {
	border:1px solid red;
	border-color:#58ACFA;
}

input {
	border: 1px solid red;
	border-color: rgb(160, 160, 160);
}

a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.wrap {
	width: 1280px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

/* banner stylesheet */
.banner-container {
	max-width: 1920px;
	height: 76px;
	margin: 0px auto;
}

#banner {
	height: 76px;
	background-color: rgb(255, 255, 255);
	max-width: 1920px;
	min-width: 1280px;
	width: 100%;
	position: fixed;
	z-index: 4;
	transition: all 300ms ease-in-out;
	margin:0 auto;
}

#banner .logo {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 42px;
	top: 5px;
	left: 20px;
	position: absolute;
}

#banner .section-block {
	text-align: center;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 20px;
	width: 164px;
	height: 45px;
	top: 5px;
	position: absolute;
	padding-top: 20px;
}

#banner .can-click {
	cursor: pointer;
}

#banner .section-active {
	background-image: url(assets/image/01/button_pressed.png);
	background-repeat: no-repeat;
	background-position: center;
}

#banner .event {
	right: 20px;
}

#banner .team {
	right: 190px;
}

#banner .resources {
	right: 360px;
}

#banner .updates {
	right: 530px;
}

/* index.php stylesheet */
#index {
	height: 859px;
	position: relative;
}

#index .bg-wrap {
	width: 1920px;
	height: 859px;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}

#index .bg-container {
	position: absolute;
	width: 1920px;
	height: 859px;
}

#index .background {
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 859px;
	position: absolute;
	width: 1920px;
}

#index .bg0 {
	background-image: url(assets/image/00/bg.jpg);
}

#index .bg1 {
	background-image: url(assets/image/00/bg_lundun.jpg);
}

#index .bg2 {
	background-image: url(assets/image/00/bg_shanghai.jpg);
}

#index .bg3 {
	background-image: url(assets/image/00/bg_taijiling.jpg);
}

#index .bg4 {
	background-image: url(assets/image/00/bg_xini.jpg);
}

#index .bg5 {
	background-image: url(assets/image/00/bg_xinjiapo.jpg);
}

#index .content {
	margin-top: -859px;
}

#index .wxframe {
	background-image: url(assets/image/00/weixin.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 430px;
	height: 430px;
	top: 150px;
	left: 425px;
	position: absolute;
}

#index .wxframeclose {
	background-image: url(assets/image/01/button_pressed.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 164px;
	height: 45px;
	top: 600px;
	left: 558px;
	position: absolute;

	text-align: center;
	font-family: "Calibri Regular";
	color: rgb(0, 0, 0);
	font-size: 30px;
	padding-top: 5px;

	cursor: pointer;
}

#index .logo {
	background-image: url(assets/image/00/logo_city.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 100%;
	height: 113px;
	top: 220px;
	position: absolute;
}

#index .sub-title {
	text-align: center;
	font-family: "Calibri Light";
	color: rgb(119, 123, 132);
	font-size: 36px;
	width: 100%;
	top: 365px;
	position: absolute;
}

#index .arrow {
	background-image: url(assets/image/00/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 100%;
	height: 54px;
	top: 510px;
	position: absolute;
}

#index .bar {
	background-image: url(assets/image/00/bar.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 1007px;
	height: 104px;
	top: 680px;
	left: 135px;
	position: absolute;
}

#index .bar-button {
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	width: 56px;
	height: 56px;
	top: 20px;
	position: absolute;
}

#index .email-active {
	background-image: url(assets/image/00/email_pressed.png);
	left: 90px;
}

#index .email-inactive {
	background-image: url(assets/image/00/email_unpressed.png);
	left: 90px;
}

#index .twitter-active {
	background-image: url(assets/image/00/twitter_pressed.png);
	left: 280px;
	cursor: pointer;
}

#index .twitter-inactive {
	background-image: url(assets/image/00/twitter_unpressed.png);
	left: 280px;
	cursor: pointer;
}

#index .wechat-active {
	background-image: url(assets/image/00/weixin_pressed.png);
	left: 475px;
	cursor: pointer;
}

#index .wechat-inactive {
	background-image: url(assets/image/00/weixin_unpressed.png);
	left: 475px;
	cursor: pointer;
}

#index .weibo-active {
	background-image: url(assets/image/00/weibo_pressed.png);
	left: 670px;
	cursor: pointer;
}

#index .weibo-inactive {
	background-image: url(assets/image/00/weibo_unpressed.png);
	left: 670px;
	cursor: pointer;
}

#index .youtube-active {
	background-image: url(assets/image/00/Youtube_pressed.png);
	left: 865px;
	cursor: pointer;
}

#index .youtube-inactive {
	background-image: url(assets/image/00/Youtube_unpressed.png);
	left: 865px;
	cursor: pointer;
}

/* footer stylesheet */
#footer {
	height: 200px;
	background-color: rgb(68, 63, 83);
	max-width: 1920px;
	position: relative;
	margin: 0px auto;
}

#footer .hype-line-icon {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 33px;
	height: 27px;
	cursor: pointer;
	top: 90px;
}

#footer .link1 {
	left: 25px;
	background-image: url(assets/image/01/icon1.png);
}

#footer .link2 {
	left: 85px;
	background-image: url(assets/image/01/icon1.png);
}

#footer .link3 {
	left: 145px;
	background-image: url(assets/image/01/icon2.png);
}

#footer .link4 {
	left: 205px;
	background-image: url(assets/image/01/icon3.png);
}

#footer .link5 {
	left: 265px;
	background-image: url(assets/image/01/icon4.png);
}

#footer .logo {
	text-align: center;
	width: 100%;
	font-family: "Calibri Regular";
	color: rgb(174, 168, 196);
	font-size: 90px;
	top: 35px;
	position: absolute;
}

#footer .right-text {
	text-align: right;
	width: 100%;
	font-family: "Calibri Regular";
	color: rgb(149, 146, 157);
	font-size: 14px;
	top: 105px;
	right: 25px;
	position: absolute;
}

/* tbc stylesheet */
#tbc {
	height: 859px;
	position: relative;
}

#tbc .inner-wrap {
	background-image: url(assets/image/00/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	max-width: 1920px;
	min-width: 1280px;
	height: 859px;
	margin: 0px auto;
	position: relative;
}

#tbc .content {
	text-align: center;
	font-family: "Calibri Regular";
	color: rgb(68, 63, 84);
	font-size: 70px;
	padding-top: 400px;
}

/* event stylesheet */
#event {
	height: 1150px;
	position: relative;
}

#date-frame {
	border: 1px;
	border-style: solid;
	border-color: rgb(229, 229, 229);
	width: 152px;
	height: 176px;
	top: 60px;
	left: 95px;
	position: absolute;
}

#date-frame .day-of-week {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 22px;
	top: 20px;
	left: 20px;
	position: absolute;
	font-weight: bold;
}

#date-frame .day {
	font-weight: bold;
	text-align: left;
	font-family: "Calibri Light";
	font-size: 48px;
	top: 55px;
	left: 20px;
	position: absolute;
	display: inline-block;
	background:-ms-linear-gradient(left, rgb(244, 198, 13), rgb(200, 96, 40));
	background:-moz-linear-gradient(left, rgb(244, 198, 13), rgb(200, 96, 40));/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(rgb(244, 198, 13)), to(rgb(200, 96, 40)));/*谷歌*/
	background-image:-webkit-gradient(linear,left top,right top,color-start(0, rgb(244, 198, 13)),color-stop(1, rgb(200, 96, 40)));/* Safari & Chrome*/  
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='rgb(244, 198, 13)', endColorstr='rgb(200, 96, 40)'); /*IE6 & IE7*/  
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='rgb(244, 198, 13)', endColorstr='rgb(200, 96, 40)'); /* IE8 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#date-frame .date {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 22px;
	top: 110px;
	left: 20px;
	position: absolute;
	font-weight: bold;
}

#date-frame .time {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	opacity: 0.7;
	font-size: 14px;
	top: 135px;
	left: 20px;
	position: absolute;
	font-weight: bold;
}

#event-content .title {
	text-align: left;
	font-family: "Calibri Regular";
	color: rgb(68, 63, 84);
	font-size: 22px;
	top: 60px;
	left: 295px;
	position: absolute;
	font-weight: bold;
}

#event-content .icon {
	background-image: url(assets/image/04/photo.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 32px;
	height: 32px;
	overflow: visible;
	left: 295px;
	top: 100px;
	position: absolute;
}

#event-content .author {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	opacity: 0.7;
	font-size: 14px;
	top: 105px;
	left: 340px;
	position: absolute;
	font-weight: bold;
}

#event-content .image {
	background-image: url(assets/image/04/pic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 619px;
	height: 348px;
	overflow: visible;
	left: 295px;
	top: 150px;
	position: absolute;
}

#event-content .content {
	width: 620px;
	font-family: "Calibri Light";
	font-size: 14px;
	color: rgb(68, 63, 84);
	position: absolute;
	left: 295px;
	top: 535px;
	padding-top: 0px;
	padding-left: 0px;
	text-align: left;
}

#location-frame {
	background-color: rgb(246, 247, 248);
	width: 284px;
	height: 144px;
	top: 910px;
	left: 295px;
	position: absolute;
}

#location-frame .time-icon {
	background-image: url(assets/image/04/icon_time.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	height: 15px;
	overflow: visible;
	left: 20px;
	top: 30px;
	position: absolute;
}

#location-frame .location-icon {
	background-image: url(assets/image/04/icon_location.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	height: 19px;
	overflow: visible;
	left: 20px;
	top: 85px;
	position: absolute;
}

#location-frame .main-info {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 14px;
	left: 50px;
	position: absolute;
	font-weight: bold;
}

#location-frame .sub-info {
	text-align: left;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	opacity: 0.8;
	font-size: 14px;
	top: 110px;
	left: 50px;
	position: absolute;
	font-weight: bold;
}

#event-content .register-text {
	text-align: left;
	font-family: "Calibri Regular";
	color: rgb(68, 63, 84);
	font-size: 18px;
	top: 970px;
	left: 610px;
	position: absolute;
}

#event-content .register-button {
	background-image: url(assets/image/04/button_registrate.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 147px;
	height: 40px;
	overflow: visible;
	left: 610px;
	top: 1010px;
	position: absolute;
	cursor: pointer;

	font-family: "Calibri Regular";
	font-size: 18px;
	color: rgb(0, 0, 0);
	padding-top: 5px;
}

/* team stylesheet */
#team {
	height: 2400px;
	position: relative;
}

#team .container {
	padding: 0px;
}

#team .title {
	font-family: "Impact Regular";
	font-size: 60px;
	color: rgb(0, 0, 0);
	width: 100%;
	margin-top: 62px;
}

#team .block {
	margin-top: 100px;
	height: 300px;
	position: relative;
}

#team .photo {
	background-repeat: no-repeat;
	background-position: center;
	left: 0px;
	top: 0px;
	position: absolute;
	background-size: 238px;

	width: 238px;
	height: 300px;
}

#team .ag {
	background-image: url(assets/image/03/ag.png);
	/*width: 126px;
	height: 190px;*/
}

#team .fb {
	background-image: url(assets/image/03/fb.png);
	/*width: 94px;
	height: 142px;*/
}

#team .gx {
	background-image: url(assets/image/03/gx.png);
	/*width: 116px;
	height: 174px;*/
}

#team .px {
	background-image: url(assets/image/03/px.png);
	/*width: 133px;
	height: 200px;*/
}

#team .ym {
	background-image: url(assets/image/03/ym.png);
	/*width: 118px;
	height: 177px;*/
}

#team .name {
	font-family: "Calibri Light";
	font-size: 24px;
	color: rgb(0, 0, 0);
	top: 9px;
	left: 270px;
	position: absolute;
}

#team .line {
	background-color: rgb(209, 161, 51);
	width: 168px;
	height: 2px;
	top: 40px;
	left: 270px;
	position: absolute;
}

#team .intro {
	font-family: "Calibri Light";
	font-size: 14px;
	color: rgb(122, 116, 139);
	top: 90px;
	left: 270px;
	position: absolute;
	text-align: left;
	line-height: 2.5;
}

#team .position {
	font-family: "Calibri Light";
	font-size: 14px;
	color: rgb(209, 161, 51);
	top: 50px;
	left: 270px;
	position: absolute;
}

/* getupdates stylesheet */
#getupdates {
	height: 859px;
	position: relative;
}

#getupdates .bg-wrap {
	width: 1920px;
	height: 859px;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}

#getupdates .background {
	background-image: url(assets/image/00/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 859px;
	position: absolute;
	width: 1920px;
}

#getupdates .frame {
	background-image: url(assets/image/02/bg_chart.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 566px;
	position: absolute;
	width: 662px;
	left: 309px;
	top: 154px;
}

#getupdates .frame-title {
	font-family: "Calibri Light";
	font-size: 24px;
	color: rgb(119, 123, 132);
	top: 40px;
	left: 30px;
	position: absolute;
}

#getupdates .field-title {
	font-family: "Calibri Light";
	color: rgb(119, 123, 132);
	position: absolute;
	opacity: 0.7;
}

#getupdates .main {
	font-size: 24px;
}

#getupdates .sub {
	font-size: 12px;
}

#getupdates .button {
	background-image: url(assets/image/02/button_submit.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 52px;
	position: absolute;
	width: 198px;
	left: 30px;
	top: 355px;

	font-family: "Calibri Light";
	color: rgb(255, 255, 255);
	font-size: 24px;
	padding-top: 6px;

	cursor: pointer;
}

#getupdates .input-box {
	font-family: "Calibri Light";
	color: rgb(119, 123, 132);
	font-size: 20px;
	padding-left: 9px;
}

/* resources stylesheet */
#resources {
	height: 859px;
	position: relative;
}

#resources .container {
	padding: 0px;
}

#resources .title {
	font-family: "Impact Regular";
	font-size: 60px;
	color: rgb(0, 0, 0);
	width: 100%;
	margin-top: 62px;
}

#resources .list-container {
	margin-top: 58px;
	width: 100%;
}

#resources .block {
	height: 130px;
}

#resources .news-title {
	margin-top: 0px;
	width: 100%;
	font-family: "Calibri Light";
	color: rgb(68, 63, 84);
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

#resources .news-date-container {
	margin-top: 38px;
	width: 100%;
	position: relative;
	padding: 0px;
	height: 22px;
}

#resources .news-line {
	width: 50px;
	height: 1px;
	background-color: rgb(209, 161, 51);
	position: absolute;
	left: 0px;
	top: 10px;
}

#resources .news-date {
	font-family: "Calibri Light";
	color: rgb(209, 161, 51);
	font-size: 14px;
	left: 68px;
	position: absolute;
	text-align: left;
}

#resources .news-content-container {
	margin-top: 20px;
	width: 100%;
	position: relative;
}

#resources .news-content {
	position: absolute;
	left: 68px;
	font-family: "Calibri Light";
	color: rgb(174, 168, 193);
	font-size: 14px;
	text-align: left;
}

/* news stylesheet */
#resources {
	min-height: 500px;
	position: relative;
}